@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.home{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    background-color: #282727;
    height: 110vh;
    margin: -5rem 0 0 0 ;
}

nav ul{
    display: inline-flex;
    text-decoration: none;
    margin: 6.2rem 0 0 5rem;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul:hover{
    color: #BFFC66;
}

.all{
    transform: rotate(-6.5deg);
    margin: 0 -5rem 0 -99rem ;
    background-color: #BFFC66;
    padding: 15px;
    font-size: 22px;
}